.MenuListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 2rem; */
  color: var(--text-light);
  background-color: rgb(102, 102, 102);
  border: 0.1vmin solid rgb(206, 251, 244);
  border-radius: 1vmin;
  /* height: max-content; */
}

.MenuListItem .emoji {
  height: 100%;
  width: 100%;
  border-bottom: 0.1vmin solid rgb(206, 251, 244);
  border-radius: 1vmin 1vmin 0 0;
  display: grid;
  place-items: center;
}

img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.MenuListItem .name {
  font-size: clamp(1em, 1.5vw, 1em);
  text-align: center;
  color: white;
  margin-top: 1vmin; /* Space between image and text */
  font-family: var(--app-font);
}

.MenuListItem .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Take up full width */
  margin-top: auto; /* Push to bottom */
  padding: 0.5rem;
}

.MenuListItem .price {
  font-size: clamp(0.5em, 1vw, 0.9em);
  font-weight: bold;
  text-align: left;
  color: rgb(206, 251, 244);
}

.add-btn {
  background-color: rgb(206, 251, 244);
  color: rgb(102, 102, 102);
  font-family: var(--app-font);
  font-size: clamp(0.5em, 1vw, 0.8em);
  border-radius: 200px;
  width: auto;
  height: auto;
  padding: clamp(0.5em, 0.9vw, 0.3em);
  text-align: center;
  cursor: pointer;
  border: 0.1vmin solid rgb(240, 240, 240, 0.8);
}

.MenuListItem .buy span {
  font-size: 1rem;
  text-align: center;
  color: var(--text-light);
}

@media (width <= 575px) {
  .add-btn {
    width: 8vmin;
  }
  .MenuListItem .price {
    font-size: 2vmin;
  }
}
