.store-list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 1fr 1fr;
  width: calc((100%-20%)/3);
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  height: 300px;
  border: 1px solid black;
}

.product-image {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  max-width: 35vmin;
  max-height: 35vmin;
  display: block;
  margin: auto;
  object-fit: cover;
}

.product-label {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-align: center;
}

.product-price {
  grid-row: 3 / 4; 
  grid-column: 1 / 2; 
}

.add-button {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

