
.main-content {
    width: 100%;
    flex-grow: 1;
}

main {
    z-index: 1000;
}


.left-sidebar-open {
    transform: translateX(-2%);
}
.left-sidebar-closed {
    transform: translateX(-102%);
}

.arrow-btn {
    font-size: 24px; /* Adjust size as per requirement */
    position: absolute;
    top: 50%; 
    right: -2%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none; /* No background */
    border: none; /* No border */
    color: #555; /* Adjust color as per requirement */
}
  
  /* Left Sidebar Arrow */
  .arrow-left {
    right: -10px; /* Positioning on the right side of the sidebar */
  }
  
  
  /* Modify CSS for sidebars to accommodate the arrow button */
  .left-sidebar {
    position: fixed;
    height: 100%;
    width: 25%; 
  }


.left-sidebar-open, .left-sidebar-closed {
    transition: transform 0.3s ease-in-out;
  }


.NewOrderPage {
    height: 100%;
    display: flex;
    position: relative;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
    margin-bottom: 0px;
}
.no-sidebar {
    grid-template-columns: 1fr;
}

/* When left sidebar is open */
.left-sidebar-open .NewOrderPage {
    grid-template-columns: 1.6fr 3.5fr;
}

  
.NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
    background-color: var(--white);
}

a.histBtn {
    font-family: var(--app-font);
    border-radius: 200px !important;
    background-color: rgb(60,60,60)!important;
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
    padding: 7px !important;
}









