.NewOrderPage {
    height: 100%;
    display: grid;
    grid-template-columns: 4.5fr 2fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
    margin-bottom: 0px;
}
.NewOrderPage.aside-visible {
    grid-template-columns: 1fr 4fr 1.5fr;
}
.toggle-aside {
    position: absolute;
    top: 5%;  
    left: 0;
    z-index: 10;
    font-size: 2em;
    background-color: black;
    border: none;
    cursor: pointer;
}
.toggle-aside:active {
    background-color: black;  
    color: white;             
}

  
.NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
    background-color: var(--white);
    transition: transform 0.3s ease-in-out;
}
/* .NewOrderPage:not(.aside-visble) {
    grid-template-columns: 4.5fr 2fr;
} */

a.histBtn {
    font-family: var(--app-font);
    border-radius: 200px !important;
    background-color: rgb(60,60,60)!important;
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
    padding: 7px !important;
}


@media (max-width: 1500px) {
    .histBtn {
        height: 5vmin;
        font-size: 16px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
/* @media (max-width: 1300px) {
    .NewOrderPage {
        grid-template-columns: 1.6fr 5.5fr 1fr;
    } 
} */
@media (max-width: 1200px) {
    .histBtn {
        font-size: 14px !important;
        height: 4vmin;
        
    }
}
@media (max-width: 1000px) {
    .histBtn {
        font-size: 12px !important;
        
    }
}

@media (max-width: 800px) {
    .histBtn {
        font-size: 10px !important;
        
    }
}
@media (max-width: 800px) {
    .histBtn {
        font-size: 8px !important;
        
    }
}
@media (max-width: 500px) {
    .histBtn {
        font-size: 6px !important;
        
    }
}






