.OrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(102,102,102);
    border: .1vmin rgb(200,200,200);
    border-radius: 2vmin;
    margin: 3vmin 0;
    padding: 3vmin;
    overflow-y: scroll;
}
  
p {
    color: black;
    font-size: 2vmin;
    font-family: var(--app-font);
}
