.UserLogOut {
    font-size: 1.5vmin;
    color: var(--text-light);
    text-align: center;
  }
  
  .UserLogOut .email {
    font-size: smaller;
    font-family: var(--app-font);
  }
  
  .logOutBtn {
    font-family: var(--app-font);
    border-radius: 200px;
    background-color: rgb(60,60,60)!important;
    margin-bottom: 6px;
    padding: 3px;
  }
