.UserLogOut {
    font-size: 1vmin;
    color: var(--text-light);
    text-align: center;
  }
  
  .UserLogOut .email {
    font-size: 1vmin;
    font-family: var(--app-font);
  }
  
  .logOutBtn {
    font-family: var(--app-font);
    border-radius: 1vmin;
    background-color: rgb(60,60,60)!important;
    margin-bottom: 1vmin;
    padding: .9vmin !important;
  }


  @media (max-width: 800px) {
    .logOutBtn {
      margin-bottom: 0.5vmin;
      font-size: .6vmin;
      padding: .5vmin;
    }

  }