.loginButton {
  margin: 2vmin 1vmin;
  padding: 1vmin;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid rgb(240, 240, 240, 0.8);
  border-radius: 0.5vmin;
  outline: none;
}

input,
label {
  font-size: 16px;
}
label {
  padding: 2vmin;
}

.loginButton:enabled {
  background-color: rgb(102, 102, 102);
  color: white;
}

.box-container {
  padding: 2vmin;
}
