.loginButton {
    margin: 1vmin;
    padding: 1vmin;
    font-size: 2vmin;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid rgb(240,240,240,0.8);
    border-radius: .5vmin;
    outline: none;
}