.Logo {
    height: 12vmin;
    width: 12vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.7vmin;
}

.Logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}







