.OrderDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: white;
    border-radius: 2vmin;
    /* width: 100%; */
  }
  
  .OrderDetail .section-heading {
    width: 100%;
    background-color: rgb(102,102,102);
  }
  
  .OrderDetail .line-item-container {
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
    font-family: var(--app-font);
    padding: 0;
  }
  
  .OrderDetail .total {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1vmin 0;
    color: white;
    border-top: .3vmin rgb(210,210,210, .8);
    background-color: rgb(102,102,102);
    margin-top: 1vmin;
    border-bottom-right-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
  }
  
  .OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
  }
  
  .OrderDetail .total span.right {
    display: flex;
    justify-content: space-between;
    margin-top: 1vmin;
    padding: 1vmin;
  }
  
  .OrderDetail .hungry {
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
  }
  .btn-checkout {
    background-color: rgb(206,251,244);
    border-radius: 20px;
    font-size: 1.5vmin;
    padding: .6vmin .8vmin;
    color: rgb(102,102,102);
    font-weight: bold;
    text-decoration: none;
    text-align:center;
    border: .1vmin solid rgb(240,240,240,0.8);
    outline: none;
    cursor: pointer;
  }


  @media (max-width: 1200px) {
    .spanItem {
      margin-left: 4vmin;
    }
  }
  @media (max-width: 1000px) {
    .spanItem {
      margin-left: 6vmin;
    }
  }
  @media (max-width: 800px) {
    .spanItem {
      margin-left: 4vmin;
    }
  }
  @media (max-width: 500px) {
    .spanItem {
      margin-left: 3vmin;
    }
  }


  

