.OrderDetailPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.shopping {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(60,60,60)!important;
    font-family: var(--app-font);
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 3vh;
}
