/* make sidebar cover up whole page and even go over navbar? */

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Ensures the div only takes up the space needed for the icon */
}

.cart svg {
  width: 15px; /* Adjust to your preferred size */
  height: 15px;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  font-size: clamp(13px, 1.3vmax, 20px);
  background-color: rgb(102, 102, 102);
  width: 100%;
  justify-self: flex-start;
  padding: 2vmin 0;
  position: sticky;
  top: 0;
  z-index: 1101;
}
.navbarLogo {
  width: auto;
  max-width: 60px;
  height: auto;
  object-fit: contain;
  padding: 1px 0;
}

/* .a {
  text-decoration: none;
  color: rgb(206, 251, 244);
  font-weight: bold;
} */
a {
  text-decoration: none;
  color: rgb(206, 251, 244);
  font-weight: bold;
}

@media (min-height: 650px) {
  .navbarLogo {
    max-width: 80px;
  }
}
@media (min-height: 750px) {
  .navbarLogo {
    max-width: 85px;
  }
}
@media (width <= 575px) {
  .cart svg {
    width: 13px;
    height: 13px;
  }
}

@media (width <= 400px) {
  .cart svg {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 450px) {
  .navbarLogo {
    max-width: 75px;
  }
}
