.navbar {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    background-color: white;
    padding: 5vmin;
    height: 10%;
    font-size: 2.5vmin;
}
.navbarLogo {
    height: 15vmin;
    width: 15vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.7vmin;
    padding: 1vmin;
}

.nav-links {
    display: flex;
    gap: 8vmin;
}

.nav-links a, .user-logout {
    color: black;
    text-decoration: none;
}

@media (max-width: 800px) {
    .navbar {
        font-size: 2vmin;
    }
    .nav-links {
        gap: 5vmin;
    }
    .navbarLogo {
        height: 12vmin;
        width: 12vmin;
    }
  }