/* height to 20vmin for cart */
.CartItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vmin 0;
    color: white;
    background-color: rgb(102,102,102);
    border-bottom: .1vmin solid rgb(230,230,230);
    font-size: 1.5vw;
    height: 20vmin;
}
.CartItem .itemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.margin-left {
    margin-left: 1.5vmin;
}



.LineItem:last-child {
    border-bottom: .1vmin solid var(--tan-3);
}

/* to 100% for both w, h in cart */
.CartItem .emoji {
    max-width: clamp(8vmin, 5vw, 15vmin);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.CartItem .emoji img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    
}


.CartItem .qty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}

.CartItem .ext-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
}

.CartItem button {
    margin: 0;
    font-size: 1vmin;
    padding: .4vmin .5vmin;
    color: rgb(206,251,244);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid rgb(240,240,240,0.8);
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
    background-color: rgb(102,102,102);
}

.itemqty {
    padding: 3vmin;
}