.StoreList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four items per row */
    gap: 20px; 
    padding: 0 6vmin 6vmin 6vmin;
    max-height: (100vh - 10%);
    overflow-y: auto; 
    margin: 20px auto;
}


@media (max-width: 675px) { 
    .StoreList {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 560px) { 
    .StoreList {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 400px) { 
    .StoreList {
        grid-template-columns: 1fr;
    }
}