/* CSS Custom Properties */
 /* button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--black);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid rgb(240,240,240,0.8);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
} 

 button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
} 

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
} */

.Toastify__toast-theme--light {
  background-color: rgb(102,102,102) !important; /* Replace #yourColorHere with your desired color */
  color: white;
}
.Toastify__close-button {
  background-color: rgb(206,251,244) !important;
  padding: 2em;
}
:root {
  --toastify-icon-color-success: rgb(206,251,244);
  --app-font: 'Barlow', sans-serif;
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --black: #000000;
  --blue: #0000FF;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(102,102,102);
  height: 100vh;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(230,230,230, .5);
  /* color: var(--text-dark); */
  background-color: rgb(230,230,230);
  border-bottom: .1vmin solid rgb(206,251,244);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: rgb(102,102,102);
  border: .1vmin solid rgb(240,240,240);
  border-radius: 1vmin;
}

p.error-message {
  color: white;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid rgb(240,240,240,0.8);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; 
  outline: none;
}

input:focus {
  border-color: black;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: rgb(102,102,102);
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}