.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 3vw 15.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    background-color: var(--white);
    border-top: .1vmin solid var(--tan-3);
    font-size: 1.5vw;
}

.LineItem:last-child {
    border-bottom: .1vmin solid var(--tan-3);
}
.inc-btn {
    background-color: rgb(60,60,60)!important;
}

/* .LineItem .emoji {
    height: 8vw;
    width: 8vw;
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
} */
.LineItem .emoji img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

.LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
}

.LineItem .ext-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
}

.LineItem button {
    margin: 0;
}